.recipes .recipe {
  margin: 2vmin 0;
  padding: 1vmin 1.5vmin;
  width: 30vw;
  border-radius: 2vmin;
  background-color: #f9f9f9;
  box-shadow: 0 1vmin 1vmin 0 rgba(249, 249, 249,.6);
  cursor: pointer;
}

.recipes .recipe:hover {
  transform: scale(1.01);
}

.recipes .recipe h2 {
  font-family: 'Galada', cursive;
}

@media only screen and (max-width: 1000px) {
  .recipes .recipe {
    width: 100%;
  }
}
